.landscape_container{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 70%;
    }
    @media (orientation: landscape){
        display: none;
    }
    @media (min-width: 992px){
        display: none;
    }
}