.character-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @media (min-width: 992px){
        overflow-y: hidden;
    }
    &.superman{
        background: $blueSuperman;
    }
    &.batman{
        background: $greyBatman;
    }
    &.wonderwoman{
        background: $orangeWonder;
    }
    &.flash{
        background: $redFlash;
    }
    &.greenlantern{
        background: $greenLantern;
    }
    &.aquaman{
        background: $yellowAquaman;
    }
    &.greenarrow{
        background: $greenArrow;
    }
    &.cyborg{
        background: $redCyborg;
    }
    h1{
        @include font('Cinzel',5em,700);
        line-height: 0;
        margin-top: 1.7em;
        margin-bottom: .7em;
        text-align: center;
        line-height: 12px;
        @media (min-width: 992px){
            text-align: left;
        }
        @media (min-width: 1400px){
            @include font('Cinzel',6.2em,700);
            margin-top: 0;
        }
    }
    h2{
        @include font('Cinzel',2.1em,600);
        line-height: 0;
        text-align: center;
        @media (min-width: 992px){
            text-align: left;
        }
        @media (min-width: 1400px){
            @include font('Cinzel',2.3em,600);
            margin-top: 0;
        }
    }
}
.character-logo{
    &.superman{
        svg{
            background: $blueSuperman;
            left: -5%;
            top: 10%;
            width: 135%;
            height: 135%;
        }
    }
    &.batman{
        svg{
            background: $greyBatman;
            left: -6%;
            top: -8%;
            width: 140%;
            height: 140%;
        }
    }
    &.wonderwoman{
        svg{
            left: 4%;
            top: 7%;
            width: 116%;
            height: 116%;
            background: $orangeWonder;
        }
    }
    &.flash{
        svg{
            left: -22%;
            top: -37%;
            width: 177%;
            height: 177%;
            background: $redFlash;
        }
        path{
            &:first-of-type {
                fill:$black;
            }
            &:last-of-type {
                fill:none;
                stroke: $black;
            }
        }
    }
    &.greenlantern{
        svg{
            width: 168%;
            height: 168%;
            background: $greenLantern;
        }  
    }
    &.aquaman{
        svg{
            left: -47%;
            top: -75%;
            width: 212%;
            height: 212%;
            background: $yellowAquaman;
        }
    }
    &.greenarrow{
        svg{
            width: 168%;
            height: 168%;
            background: $greenArrow;
        }
    }
    &.cyborg{
        svg{
            left: -22%;
            width: 165%;
            height: 165%;
            background: $redCyborg;
        }
    }
    svg{
        position: absolute;
        opacity: 0.1;
    }
    path{
        fill:$black;
    }
}
.character-content{
    height: 100vh;
}
.character-main{
    height: 100vh;
    @include flexContainer($rowAlign:flex-start,$columnAlign:flex-start, $direction:column);
    @media (min-width: 992px){
        @include flexContainer($rowAlign:flex-start,$columnAlign:center, $direction:row);
    }
}
.character-block-left{
    display: none;
    @media (min-width: 992px){
        @include flexContainer();
    }
}
.character-image{
    opacity: 0.7;
    margin-top: 30px;
    @media (min-width: 992px){
        margin-top: 0;
    }
    img{
        &.introTab{
            filter: none;
        }
        &.dataTab{
            filter: grayscale(100%);
        }
        &.powersTab{
            filter: sepia(100%) brightness(87%);
        }
        @media (min-width: 992px){
            height: auto;
            margin: 0 auto;
        }
    }
}

.character-txt-header{
    margin-bottom: 3em;
    @media (min-width: 1400px){
        margin-bottom: 4em;
    }
}
.character-txt-body{
    margin-bottom: 3em;
    @media (min-width: 1400px){
        margin-bottom: 4em;
    }
}
.character-txt-footer{
    @media (min-width: 992px){
        min-height: 140px;
    }
    img{
        margin-bottom: 2em;
        @media (min-width: 992px){
            margin-bottom: 3em;
        }
        @media (min-width: 1400px){
            margin-bottom: 0;
        }
    }
}
.character-txt-footer-img-container{
    align-items: center;
}
.character-btn-back{
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: initial;
    width: 100%;
    text-align: center;
    outline: none;
    @media (min-width: 992px){
        top: initial;
        bottom: 25px;
    }
    button{
        cursor: pointer;
        @include font('Cinzel',1em,600);
        position: relative;
        text-decoration: underline;
        @media (min-width: 992px){
            @include font('Cinzel',1.2em,600);
            text-decoration: none;
        }
        &::after{
            @media (min-width: 992px){
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $darkWhite;
                @include transition(all,.3s, cubic-bezier(0.215, 0.61, 0.355, 1),0);
                transform: scaleX(1);
            }
        }
        &:hover{
            &::after{
                @media (min-width: 992px){
                    transform: scaleX(0);
                }
            }
        }
    }
}