.character-skills{
  @include flexContainer();
  @media (min-width: 1400px){
    justify-content: flex-start;
  }
  h3{
    @include font('Cinzel',1.5em,400);
    margin-bottom: 0.7em;
    display: none;
    @media (min-width: 992px){
      display: block;
      justify-content: flex-start;
    }
  }
  li{
    font-size: 0.9em;
    @media (min-width: 768px){
      margin-bottom: 0.3em;
    }
    @media (min-width: 992px){
      font-size: 1.1em;
    }
  }
  strong{
    width: 140px;
    display: inline-block;
  }
}
.character-stats{
  margin-right: 4em;
  span{
    text-align: right;
    width: 25px;
    display: inline-block;
  }
  @media (min-width: 1400px){
    margin-right: 0;
    width: 53%;
  }
}
.bar{
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  width: 58%;
  height: 13px;
  background: $white;
  overflow: hidden;
  i{
    background: $darkGrey;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.character-powers{
  li{
    list-style: disc;
    list-style-position: inside;
  }
  @media (min-width: 1400px){
    width: 47%;
  }
}