.menuCharacters_background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.3);
    @include transition(all,.7s, ease-out,0);
    //@include transition(all,.5s, cubic-bezier(0.175, 0.885, 0.32, 1.275),0);
    &.active{
        visibility: visible;
        transform: scale(1);
    }
    &.superman{
        background-image: url(#{$imgPath}/superman_bg.jpg);
        background-color: $blueSuperman;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.batman{
        background-image: url(#{$imgPath}/batman_bg.jpg);
        background-color: $greyBatman;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.wonderwoman{
        background-image: url(#{$imgPath}/wonderwoman_bg.jpg);
        background-color: $orangeWonder;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.flash{
        background-image: url(#{$imgPath}/flash_bg.jpg);
        background-color: $redFlash;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.greenlantern{
        background-image: url(#{$imgPath}/greenlantern_bg.jpg);
        background-color: $greenLantern;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.greenarrow{
        background-image: url(#{$imgPath}/greenarrow_bg.jpg);
        background-color: $greenArrow;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.aquaman{
        background-image: url(#{$imgPath}/aquaman_bg.jpg);
        background-color: $yellowAquaman;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
    &.cyborg{
        background-image: url(#{$imgPath}/cyborg_bg.jpg);
        background-color: $redCyborg;
        &.active{
            opacity: 0.35;
        }
        &.highlight{
            opacity: 0.15;
        }
    }
}