.bg-texture{
  z-index: 2;
  backface-visibility: hidden;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  opacity: 0.8;
  div{
    background-image: url(#{$imgPath}/noise.png);
    position: relative;
    left: -100%;
    top: -100%;
    transform: translateZ(0);
    will-change: transform;
    height: 300%;
    width: 300%;
    animation: grained 5s infinite;
    animation-timing-function: steps(10);
  }
}

@keyframes grained{
  0%{transform:translate(-10%,10%)}
  10%{transform:translate(-25%)}
  20%{transform:translate(-30%,10%)}
  30%{transform:translate(-30%,30%)}
  40%{transform:translate()}
  50%{transform:translate(-15%,10%)}
  60%{transform:translate(-20%,20%)}
  70%{transform:translate(-5%,20%)}
  80%{transform:translate(-25%,5%)}
  90%{transform:translate(-30%,25%)}
  100%{transform:translate(-10%,10%)}}

.menu-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  will-change: transform, opacity;
  transform-origin: 50%;
  @include transition(all, 0.9s, cubic-bezier(0.39, 0.575, 0.565, 1), 0);
  &.active {
    visibility: visible;
    transform: scale(1);
    opacity: 0.35;
    @media (min-width: 992px) {
      //animation: bg-grey 5s linear 2s forwards;
    }
  }
  &.highlight {
    opacity: 0.15;
  }
  &.superman {
    background-image: url(#{$bgImgPath}/superman_bg.jpg);
  }
  &.batman {
    background-image: url(#{$bgImgPath}/batman_bg.jpg);
  }
  &.wonderwoman {
    background-image: url(#{$bgImgPath}/wonderwoman_bg.jpg);
  }
  &.flash {
    background-image: url(#{$bgImgPath}/flash_bg.jpg);
  }
  &.greenlantern {
    background-image: url(#{$bgImgPath}/greenlantern_bg.jpg);
  }
  &.greenarrow {
    background-image: url(#{$bgImgPath}/greenarrow_bg.jpg);
  }
  &.aquaman {
    background-image: url(#{$bgImgPath}/aquaman_bg.jpg);
  }
  &.cyborg {
    background-image: url(#{$bgImgPath}/cyborg_bg.jpg);
  }
}

@keyframes bg-grey {
  0% {
    filter: grayscale(0);
    }
  100% {
    filter: grayscale(100%);
  }
}
