.letters_container{
    position: absolute;
    z-index: 3;
    white-space: nowrap;
    &.active{
        z-index: 4;
        button{
            display: block;
        }
        .letters{
            pointer-events: all;
        }
    }
    button{
        outline: none;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: none;
        cursor: pointer;
    }
    .letters{
        @include font('Cinzel',4.2em,700);
        text-align: center;
        color: $darkWhite;
        display: inline-block;
        pointer-events: none;
        @media (min-width: 768px){
            @include font('Cinzel',6em,700);
        }
        @media (min-width: 992px){
            @include font('Cinzel',5.2em,700);
        }
        @media (min-width: 1200px){
            @include font('Cinzel',6.8em,700);
        }
        @media (min-width: 1400px){
            @include font('Cinzel',8em,700);
        }
    }
}