.menuCharacters_logo{
    position: absolute;
    z-index: 2;
    @include transition(all,.7s, ease-out,0);
    max-width: 50vh;
    @include flexContainer();
    
    @media (min-width: 992px){
        width: 65vw;
    }

    .superheroLogo_svg{
        width: 29vw;
        overflow: visible;
        transform-origin: 50%;
        @include transition(all,.7s, ease-out,0);
        @media (min-width: 768px){
            width: 33vw;
        }
        @media (min-width: 992px){
            width: 34vw;
        }
        @media (min-width: 1200px){
            width: 26vw;
        }
        @media (min-width: 1400px){
            width: 23vw;
        }
    }

    .superheroLogo_path{
        opacity: 0;
        transform-origin: 50%;
        transform: scale(1.5) rotate(120deg);
        @include transition(all,.6s, ease-in,0);
    }

    &.move {
        .superheroLogo_svg{
            animation: menuLogoAnim 20s ease-in-out 3s infinite;
            will-change: transform, opacity;
        }
        
    }
    &.active{
        .superheroLogo_svg{
            transform: rotate(0);
        }
        .superheroLogo_path{
            transform: scale(1) rotate(0);
            opacity: 0.8;
        }
    }
     &.superman{
        &.highlight{
            .superheroLogo_path{
                fill: $blueSuperman;
            }
        }
    }
    &.batman{
        &.highlight{
            .superheroLogo_path{
                fill: $greyBatman;
            }
        }
    }
    &.wonderwoman{
        &.highlight{
            .superheroLogo_path{
                fill: $orangeWonder;
            }
        }
    }
    &.flash{
        &.highlight{
            .superheroLogo_path{
                fill: $redFlash;
            }
        }
    }
    &.greenlantern{
        &.highlight{
            .superheroLogo_path{
                fill: $greenLantern;
            }
        }
    }
    &.greenarrow{
        &.highlight{
            .superheroLogo_path{
                fill: $greenArrow;
            }
        }
    }
    &.aquaman{
        &.highlight{
            .superheroLogo_path{
                fill: $yellowAquaman;
            }
        }
    }
    &.cyborg{
        &.highlight{
            .superheroLogo_path{
                fill: $redCyborg;
            }
        }
    }
    
    &.highlight{
        transform: scale(1.2);
        animation: none;
        .superheroLogo_path{
            fill-opacity: .8;
            stroke-width: 0;
        }
    }
}

@keyframes menuLogoAnim {
    0%    {transform: scale(1) rotate(0deg); opacity:1}
    25%   {transform: scale(0.9) rotate(7deg); opacity:0.7}
    50%   {transform: scale(1) rotate(0deg); opacity:1}
    75%   {transform: scale(0.9) rotate(-7deg); opacity:0.7}
    100%   {transform: scale(1); opacity:1}
}