.menu-logo{
    position: absolute;
    z-index: 2;
    @include transition(all,.7s, ease-out,0);
    max-width: 50vh;
    @include flexContainer();
    @media (min-width: 992px){
        width: 65vw;
    }
    svg{
        width: 29vw;
        overflow: visible;
        transform-origin: 50%;
        will-change: transform, opacity;
        @include transition(all, 1s, ease-out ,0);
        @media (min-width: 768px){
            width: 33vw;
        }
        @media (min-width: 992px){
            width: 34vw;
        }
        @media (min-width: 1200px){
            width: 26vw;
        }
        @media (min-width: 1400px){
            width: 23vw;
        }
    }
    path{
        fill-opacity: 0;
        stroke-opacity: 0;
        transform-origin: 50%;
        transform: scale(1.5) rotate(-90deg);
        @include transition(all,.7s, cubic-bezier(0.39, 0.575, 0.565, 1),0);
        will-change: transform, opacity;
    }
    &.active{
        path{
            fill-opacity: 0.8;
            stroke-opacity: 1;
            transform: scale(1) rotate(0);
        }
    }
    &.out{
        svg{
             transform: scale(1.25);
             fill: $white;
        }
    }
     &.superman{
        &.highlight{
            path{
                fill: $blueSuperman;
            }
        }
    }
    &.batman{
        &.highlight{
            path{
                fill: $greyBatman;
            }
        }
    }
    &.wonderwoman{
        &.highlight{
            path{
                fill: $orangeWonder;
            }
        }
    }
    &.flash{
        &.highlight{
            path{
                fill: $redFlash;
            }
        }
    }
    &.greenlantern{
        &.highlight{
            path{
                fill: $greenLantern;
            }
        }
    }
    &.greenarrow{
        &.highlight{
            path{
                fill: $greenArrow;
            }
        }
    }
    &.aquaman{
        &.highlight{
            path{
                fill: $yellowAquaman;
            }
        }
    }
    &.cyborg{
        &.highlight{
            path{
                fill: $redCyborg;
            }
        }
    }
    &.highlight{
        transform: scale(1.2);
        animation: none;
        path{
            fill-opacity: .8;
            stroke-opacity: 0;
        }
    }
}