<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
      <meta name="description" content="Animated website based on DC characters">
      <meta name="theme-color" content="#757575">
      <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
      <link rel="preload" as="image" href="./img/noise.png">
      <link rel="preload" as="image" href="./img/superman_bg.jpg">
      <link rel="preload" as="image" href="./img/batman_bg.jpg">
      <link rel="preload" as="image" href="./img/wonderwoman_bg.jpg">
      <link rel="preload" as="image" href="./img/flash_bg.jpg">
      <link rel="preload" as="image" href="./img/greenlantern_bg.jpg">
      <link rel="preload" as="image" href="./img/aquaman_bg.jpg">
      <link rel="preload" as="image" href="./img/greenarrow_bg.jpg">
      <link rel="preload" as="image" href="./img/cyborg_bg.jpg">
      <title>
          <%= htmlWebpackPlugin.options.title %>
      </title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>