.menuCharacters_background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.3);
    @include transition(all,.5s,ease-out,0);
    &.active{
        visibility: visible;
        opacity: 0.2;
        transform: scale(1);
    }
    &.highlight{
        opacity: 0.4;
    }
    &.superman{
        background-image: url(#{$imgPath}/superman_bg.jpg);
        background-color: $blueSuperman;
    }
    &.batman{
        background-image: url(#{$imgPath}/batman_bg.jpg);
        background-color: $greyBatman;
    }
    &.wonderwoman{
        background-image: url(#{$imgPath}/wonder_woman_bg.jpg);
        background-color: $orangeWonder;
    }
    &.flash{
        background-image: url(#{$imgPath}/flash_bg.jpg);
        background-color: $redFlash;
    }
    &.greenlantern{
        background-image: url(#{$imgPath}/green_lantern_bg.jpg);
        background-color: $greenLantern;
    }
    &.greenarrow{
        background-image: url(#{$imgPath}/green_arrow_bg.jpg);
        background-color: $greenArrow;
    }
    &.aquaman{
        background-image: url(#{$imgPath}/aquaman_bg.jpg);
        background-color: $yellowAquaman;
    }
    &.cyborg{
        background-image: url(#{$imgPath}/cyborg_bg.jpg);
        background-color: $redCyborg;
    }
}