.letters_container{
    position: absolute;
    z-index: 3;
}

.letters{
    @include font('Cinzel',8em,700);
    //@include font('Rozha One',9em,400);
    text-align: center;
    color: $darkWhite;
    display: block;
    line-height: 0;
    &.active{
        cursor: pointer;
    }
}