.letters_container{
    position: absolute;
    z-index: 3;
    transform: translateX(200%);
    &.visible{
        transform: translateX(0);
    }
}

.letters{
    @include font('Cinzel',8em,700);
    //@include font('Rozha One',9em,400);
    text-align: center;
    color: $darkWhite;
    display: block;
    &.active{
        cursor: pointer;
    }
}