.superheroLogo_container{
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    @include flexContainer();
    svg{
        opacity: 0;
    }
    path{
        fill-opacity: 0.5;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &.highlight{
        path{
            fill-opacity: 1;
        }
    }
}

/* #supermanLogo{
    position: absolute;
    z-index: 2;
}

#batmanLogo{
    visibility: hidden;
    position: absolute;
    z-index: 1;
} */