.logoDC_container{
    position: absolute;
    z-index: 3;
    svg{
        margin: 25px 0 0 35px;
        @media (min-width: 1200px){
            width: 42px;
            margin: 17px 0 0 24px;
        }
        @media (min-width: 1400px){
            width: 50px;
            margin: 25px 0 0 35px;
        }
    }
}

.logoJL_container{
    position: absolute;
    z-index: 3;
    right: 0;
    svg{
        margin-top: 15px;
        width: 220px;
        height: 50px;
    }
}