.logoDC_container{
    position: absolute;
    z-index: 3;
    svg{
        margin: 25px 0 0 35px;
    }
}

.logoJL_container{
    position: absolute;
    z-index: 3;
    right: 0;
    svg{
        margin-top: 15px;
        width: 220px;
        height: 50px;
    }
}