.footer{
    display: none;
    @media (min-width: 1024px){
        position: absolute;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        width: 100%;
        bottom: 25px;
    }
    h3{
        @include font('Open Sans',1em,400);
        margin-left: 50px;
    }
    h4{
        @extend h3;
        margin-right: 50px;
    }
    a{
        @include font('Open Sans',.9em,700);
        text-decoration: underline;
    }
}