//@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
//@import url('https://fonts.googleapis.com/css?family=Faster+One');
//@import url('https://fonts.googleapis.com/css?family=Lobster');
//@import url('https://fonts.googleapis.com/css?family=Oswald');
//@import url('https://fonts.googleapis.com/css?family=Philosopher');
//@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
    background: $white;
    font-size: 15px;
    overflow: hidden;
}

#app{
    width: 100%;
}

.logo_container{
    position: absolute;
    z-index: 5;
    svg{
        margin: 15px;
    }
}

.logoIntro_container{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    @include flexContainer();
    svg{
        width: 70%;
        height: 70%;
    }
}

.background{
    background: $black;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.supermanLogo_container{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    @include flexContainer();
    svg{
        opacity: 1;
    }
    circle{
        fill-opacity: .7;
    }
}

.letters_container{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 4;
    @include flexContainer();
}

.letters{
    @include font('Cinzel',8em,700);
    text-align: center;
    cursor: pointer;
    color: $darkWhite;
}
