@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
    background: $white;
    font-size: 15px;
}

#app{
    width: 100%;
    min-height: 100vh;
}