//@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
//@import url('https://fonts.googleapis.com/css?family=Faster+One');
//@import url('https://fonts.googleapis.com/css?family=Lobster');
//@import url('https://fonts.googleapis.com/css?family=Oswald');
//@import url('https://fonts.googleapis.com/css?family=Philosopher');
//@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
    background: $white;
    font-size: 15px;
    overflow: hidden;
}