.layout{
  animation: layout-showed 1s ease-out;
  .logo{
    position: fixed;
    z-index: 4;
    top: 0;
    @media (min-width: 992px){
        display: block;
        top: 15px;
    }
    svg{
        margin-top: 5px;
        margin-left: -5px;
        width: 130px;
        height: 40px;
        @media (min-width: 728px){
            width: 180px;
        }
        @media (min-width: 1400px){
            margin-top: 15px;
            width: 220px;
        }
    } 
  }
  .corner {
    svg {
      position: absolute;
      top: 0;
      border: 0;
      right: 0;
      z-index: 3;
      fill: $white;
      opacity: .6;
    }
    .octo-arm {
      fill: $black;
      transform-origin: 130px 106px;
    }
    .octo-body {
      fill: $black;
      transform-origin: 130px 106px;
    }
    &:hover {
      .octo-arm {
        animation: octocat-wave 0.5s ease-in-out
      }
    }
    @media (max-width:500px) {
      &:hover {
        .octo-arm {
          animation: none
        }
      }
      .octo-arm {
        animation: octocat-wave 0.5s ease-in-out
      }
    }
    @media (max-width:768px) {
      svg {
        width: 55px;
        height: 55px;
      }
    }
  }

  .created{
    display: none;
    @media (min-width: 1024px){
        display: block;
        position: absolute;
        z-index: 3;
        left: 35px;
        bottom: 25px;
    }
    @media (min-width: 1400px){
        left: 50px;
    }
    h3{
      @include font('Open Sans',0.9em,400);
      @media (min-width: 1400px){
        font-size: 1em;
      }
    }
    a{
      @include font('Open Sans',0.9em,400);
      text-decoration: underline;
      @media (min-width: 1400px){
        font-size: 1em;
      }
    }
  }

  .based{
    display: none;
    @media (min-width: 1024px){
      display: block;
      position: absolute;
      z-index: 3;
      right: 35px;
      bottom: 25px;
    }
    @media (min-width: 1400px){
        right: 50px;
    }
    h4{
      @include font('Open Sans',0.9em,400);
      @media (min-width: 1400px){
        font-size: 1em;
      }
    }
  }
}

@keyframes layout-showed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

