// PATHS

$imgPath: '../../assets/img';
$bgImgPath: '../../assets/img/bg';
$iconImgPath: '../../assets/img/svg';

// COLORS
$white: #ffffff;
$softGrey: #c7c3c3;
$grey: #757575;
$darkGrey: #333333;
$black: #000000;
$blueSuperman: #10548c;
$greyBatman: #56688a;
$orangeWonder: #e47711;
$redFlash: #c01518;
$greenLantern: #09a609;
$yellowAquaman: #df9a1a;
$greenArrow: #0d5f0f;
$redCyborg: #9e0306;
