// PATHS

$imgPath: "../../assets/img";


// COLORS
$white: #FFFFFF;
$darkWhite: #eeffee;
$grey: #9c9b9b;
$softGrey: #b4b4b4;
$darkGrey: #2f2f2f;
$black: #000000;
$blueSuperman: #10548c;
$greyBatman: #404040;
$orangeWonder: #c06711;
$redFlash: #c01518;
$greenLantern: #09a609;
$greenArrow: #0d5f0f;
$yellowAquaman: #d6ab1c;
$redCyborg: #9e0306;

//BOXSHADOW VALUES

$defaultValueBS: 0px 0px 25px 0px;
$defaultColorBS: rgba(255,255,255,0.5);