// PATHS

$imgPath: "../../assets/img";
$bgImgPath: "../../assets/img/bg";
$iconImgPath: "../../assets/img/svg";

// COLORS
$white: #FFFFFF;
$darkWhite: #eeffee;
$black: #000000;
$darkGrey: #585858;
$grey: #757575;
$blueSuperman: #10548c;
$greyBatman: #56688a;
$orangeWonder: #e47711;
$redFlash: #c01518;
$greenLantern: #09a609;
$greenArrow: #0d5f0f;
$yellowAquaman: #df9a1a;
$redCyborg: #9e0306;